<div class="container-fluid">

<!-- <h1>test</h1> -->

<div class="row">
    <div class="col-10">
    
        <div class="row">
            <div class="col-2 bg-danger">
            Column 1
            </div>
            <div class="col-10 bg-success">
            Column 2
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
            M-Lerning
            </div>
            <div class="col bg-danger">
            Column 1
            </div>
            <div class="col bg-success">
            Column 2
            </div>
            <div class="col bg-success">
            Column 3
            </div>
            <div class="col bg-success">
            Column 4
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
            Wyzwanie
            </div>
            <div class="col bg-danger">
            Column 1
            </div>
            <div class="col bg-success">
            Column 2
            </div>
        </div>
        
    </div>
    <div class="col" style="margin:1%;">
    
        <div class="row">
    
            <div class="col-12 rcorners1 rcorners1marginRBL">
                Column
            </div>
    
            <div class="col-12 rcorners1 rcorners1marginLRBT">
                Column 2 Column 2 Column 2 Column 2 Column 2 Column 2 Column 2 Column 2 Column 2 Column 2 Column 2 Column 2
            </div>
            
        </div>
    
    </div>
</div>









<div class="row">
            <div class="col-12">
            Salon sprzedaży wejdź
            </div>
            <div class="col bg-danger">
            Column 1
            </div>
            <div class="col bg-success">
            Column 2
            </div>
            <div class="col bg-danger">
            Column 3
            </div>
            <div class="col bg-success">
            Column 4
            </div>
            <div class="col bg-danger">
            Column 5
            </div>
            <div class="col bg-success">
            Column 6
            </div>
</div>

















<div class="row">
            <div class="col-12">
            Recenzje użytkowników
            </div>
            <div class="col bg-danger">
            Column 1
            </div>
            <div class="col bg-success">
            Column 2
            </div>
            <div class="col bg-danger">
            Column 3
            </div>
            <div class="col bg-success">
            Column 4
            </div>
            <div class="col bg-danger">
            Column 5
            </div>
</div>














<div class="row">
            <div class="col-12">
            Inne działania
            </div>
            <div class="col bg-danger">
            Column 1
            </div>
            <div class="col bg-success">
            Column 2
            </div>
            <div class="col bg-danger">
            Column 3
            </div>
            <div class="col bg-success">
            Column 4
            </div>
</div>




</div>
