<div class="container-fluid">

<!-- <h1>test</h1> -->

<div class="row">
    <div class="col-10">
    
        <div class="row">
            <div class="col-2">
            <div class="rcorners1">
            Column 1
            </div>
            </div>
            <div class="col-10">
            <div class="rcorners1">
            Column 2
            </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
            M-Lerning
            </div>
            <div class="col">
            <div class="rcorners1">
            Column 1
            </div>
            </div>
            <div class="col">
            <div class="rcorners1">
            Column 2
            </div>
            </div>
            <div class="col">
            <div class="rcorners1">
            Column 3
            </div>
            </div>
            <div class="col">
            <div class="rcorners1">
            Column 4
            </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
            Wyzwanie
            </div>
            <div class="col">
            <div class="rcorners1">
            Column 1
            </div>
            </div>
            <div class="col">
            <div class="rcorners1">
            Column 2
            </div>
            </div>
        </div>
        
    </div>
    <div class="col-2">
    
        <div class="row" style="margin:1%;">
    
            <div class="col-12 rcorners1" style="margin:0 1% 1% 1%;">
                Column
            </div>
    
            <div class="col-12 rcorners1" style="margin:1%;">
                Column 2 Column 2 Column 2 Column 2 Column 2 Column 2 Column 2 Column 2 Column 2 Column 2 Column 2 Column 2
            </div>
            
        </div>
    
    </div>
</div>









<div class="row">
            <div class="col-12">
            Salon sprzedaży wejdź
            </div>
            <div class="col bg-danger">
            Column 1
            </div>
            <div class="col bg-success">
            Column 2
            </div>
            <div class="col bg-danger">
            Column 3
            </div>
            <div class="col bg-success">
            Column 4
            </div>
            <div class="col bg-danger">
            Column 5
            </div>
            <div class="col bg-success">
            Column 6
            </div>
</div>

















<div class="row">
            <div class="col-12">
            Recenzje użytkowników
            </div>
            <div class="col bg-danger">
            Column 1
            </div>
            <div class="col bg-success">
            Column 2
            </div>
            <div class="col bg-danger">
            Column 3
            </div>
            <div class="col bg-success">
            Column 4
            </div>
            <div class="col bg-danger">
            Column 5
            </div>
</div>














<div class="row">
            <div class="col-12">
            Inne działania
            </div>
            <div class="col bg-danger">
            Column 1
            </div>
            <div class="col bg-success">
            Column 2
            </div>
            <div class="col bg-danger">
            Column 3
            </div>
            <div class="col bg-success">
            Column 4
            </div>
</div>




</div>






<swiper-container initial-slide="0" slides-per-view="2" [pagination]="{clickable: true}"  style="--swiper-pagination-color:black;--swiper-pagination-bullet-inactive-color:black;">
<!--<swiper-container initial-slide="0" slides-per-view="2" [navigation]="true" style="--swiper-navigation-color:black;--swiper-navigation-size:20px;">-->
      <swiper-slide>
       <div style="height:50px">Slide 1</div>
      </swiper-slide>
      <swiper-slide>
       <div style="height:50px">Slide 1</div>
      </swiper-slide>
      <swiper-slide>
       <div style="height:50px">Slide 1</div>
      </swiper-slide>
      <!--<swiper-slide>
        <div>Slide 1</div>
      </swiper-slide>
      <swiper-slide>
        <div>Slide 1</div>
      </swiper-slide>
      <swiper-slide>
        <div>Slide 1</div>
      </swiper-slide>
      <swiper-slide>
        <div>Slide 1</div>
      </swiper-slide>-->
</swiper-container>


<!--
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
-->

<!--
--swiper-pagination-color": "#FFBA08",
--swiper-pagination-bullet-inactive-color": "#999999",
--swiper-pagination-bullet-inactive-opacity": "1",
--swiper-pagination-bullet-size": "16px",
--swiper-pagination-bullet-horizontal-gap": "6px"
-->





























