<div class="container-fluid">

<!-- <h1>test</h1> -->

<div class="row">
    <div class="col-12">
    
            <div class="text-end">
            Koszyk | Konto użytkownika | Zaloguj / zarejestruj
            </div>
        
    </div>
    
    <div class="col-12">
    
    <div class="border-dark border-top border-bottom">
        <div class="row">
            <div class="col">
            Logo
            </div>
            <div class="col">
            Zacznij tu
            </div>
            <div class="col">
            O platformie samorozwoju
            </div>
            <div class="col">
            M-lerning
            </div>
            <div class="col">
            Wyzwania
            </div>
            <div class="col">
            Kuźnia biznesu
            </div>
            <div class="col">
            Czasopismo
            </div>
            <div class="col">
            Salon sprzedaży
            </div>
            <div class="col">
            Współpraca
            </div>
            <div class="col">
            ... samowystarczalna
            </div>
        </div>
    
    </div>
    </div>
    
    <div class="col-10">
    
        <div class="row">
            <div class="col-2">
            <div class="rcorners1">
            Column 1
            </div>
            </div>
            <div class="col-10">
            <div class="rcorners1">
<p>&nbsp; &nbsp; &nbsp; &nbsp; Witaj! Chcesz wprowadzić zmiany w swoim życiu i rozwinąć skrzydła? Dobrze trafiłeś.
Znajdziesz tu wiele wartościowych treści o rozwoju osobistym, duchowym i zawodowym, w postaci
kursu wraz z ćwiczeniami uporządkowanych w STUDIO M-LEARNINGU, CZASOPISMO KAREL”,
książek i ebooków oraz WYZWAŃ, dzięki którym masz możliwość zrealizować się w działaniu.
<br />
&nbsp; &nbsp; &nbsp; &nbsp; Skutkiem ubocznym podążania drogą samorozwoju jest prawdziwy sukces. Uświadomisz
sobie, że możesz wszystko, gdy dotrzesz do pola swoich możliwości i odkryjesz własny potencjał, on
pomoże Ci osiągnąć cele. Zrozumiesz osobiste doświadczenia, przez co zrealizujesz najskrytsze
marzenia, poznasz najgłębsze prawdy o sobie samym i staniesz się świadomym producentem
swojego życia. Zrozumiesz wtedy, że to Ty jesteś swoim największym Sukcesem.
<br />
&nbsp; &nbsp; &nbsp; &nbsp; Jak to zrobić? Dowiesz tu gdzie jesteś, na Platformie Karelibro, zmień siebie, a Twój świat się zmieni.
Zaczniesz świadomie decydować o swoim życiu i stanie się ono łatwe, przyjemne i szczęśliwe.
<br />
&nbsp; &nbsp; &nbsp; &nbsp; Przedstawiam tu wiele autorskich narzędzi i technik, treningów i działań, które pomogą
Ci wziąć życie w swoje ręce i kształtować je na dowolny sposób. Przyszedłeś tutaj, bo chcesz
coś zmienić i tak się stanie, to jest intencją niniejszej strony – świadoma ewolucja. Celem rozwoju jest
wolność w każdej dziedzinie życia, osiągnięcie stanów prawdziwej miłości i mądrości, bogactwo
wewnętrzne jak i zewnętrzne przez każdego kto tu zajrzy. KARELIBRO jest kluczem otwierającym
drzwi niekończących się pasm sukcesów. Znajdziesz na tej platformie coaching i mentoring
na wysokim poziomie oraz odmienny sposób myślenia, który zaprowadzi Cię tam gdzie chcesz być.</p>
            </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
            <div class="row">
                <div class="col-12">

<div style="display:flex;flex-direction:row;">
    <div class="text-center justify-content-center align-self-center p-1 text-nowrap">M-Lerning<br /><button type="button" class="btn btn-outline-dark btn-sm">zacznij</button></div>
    <div>... . .. .... .. ... .. .. ... ... .. . . ... ... .. .. ... ... ... . ... ... . .. .... .. ... .. .. ... ... .. . . ... ... .. .. ... ... ... . ... ... . .. .... .. ... .. .. ... ... .. . . ... ... .. .. ... ... ... . ... ... . .. .... .. ... .. .. ... ... .. . . ... ... .. .. ... ... ... . ... ... . .. .... .. ... .. .. ... ... .. . . ... ... .. .. ... ... ... . ... ... . .. .... .. ... .. .. ... ... .. . . ... ... .. .. ... ... ... . ... </div>
</div>

                </div>
            </div>
            </div>
            <div class="col">
            <div class="rcorners1">
            <div class="text-center">STUDIO NR 1</div>
            <div class="text-center text-decoration-underline">Trening Rozwoju Osobistego</div>
            <div>
&nbsp; &nbsp; &nbsp; &nbsp; Praca nad sobą jest procesem
POZNAWANIA siebie, poprzez analizę
swoich zachowań. Umożliwia odkrycie
osobistych wartości oraz schematów
funkcjonowania, co pomoże Ci wprowadzić
zmiany, zgodne z tym, jaki i <b>KIM CHCESZ
BYĆ</b>. Poukładanie osobowości związane jest
z wyzbyciem się starych oraz wprowadzeniu
nowych korzystnych cech charakteru.
Pokonanie strachu, zachowanie wew.
równowagi emocjonalnej i otworzenie się na
„nowe” prowadzi do maksymalnego
wykorzystania ludzkiego <b>POTENCJAŁU</b>.
            </div>
            </div>
            </div>
            <div class="col">
            <div class="rcorners1">
            <div class="text-center">STUDIO NR 2</div>
            <div class="text-center text-decoration-underline">Podróże Rozwoju Duchowego</div>
            <div>
&nbsp; &nbsp; &nbsp; &nbsp; Tworzenie siebie i otaczającego świata,
opiera się na świadomości istnienia
zachodzących zjawisk tam, gdzie tego nie
widać. Odkrywając <b>KIM JESTEŚ</b> i
postępując w zgodnie ze sobą samym
budujesz harmonie wewnątrz, która
przejawia się na zewnątrz, odczuwasz wtedy,
że cały świat Cię wspiera. Współgranie ze
światem jest możliwe przez ZROZUMIENIE
osobistych doświadczeń, stanowi to
panaceum na iluzję, jak ją porzucisz, to
odkryjesz swoja prawdziwą naturę i
odzyskasz daną ci <b>MOC</b>.
            </div>
            </div>
            </div>
            <div class="col">
            <div class="rcorners1">
            <div class="text-center">STUDIO NR 3</div>
            <div class="text-center text-decoration-underline">Ścieżka Rozwoju Zawodowego</div>
            <div>
&nbsp; &nbsp; &nbsp; &nbsp; Nastawienie na sukces - przynosi sukces,
porażka - to efekt strachu; wymysł o braku
możliwości - absencją rozwoju. Ratunkiem
jest MOTYWACJA, ona usilnie ciągnie
do przodu, kieruje rozwojem, prowadzi
ścieżką do celu, a Ty odgrywasz swoją rolę
<b>BYCIA KIMŚ</b>. Osiągniesz cel, gdy zbudujesz
odpowiednią swoją postawę i nabędziesz
niezbędne cechy by ruszyć z miejsca, lecz
najpierw musisz wiedzieć dokąd zmierzasz
i co chcesz osiągnąć, a wtedy realizując
siebie w działaniu, stajesz się <b>SIŁĄ</b>
sprawczą swojego sukcesu.
            </div>
            </div>
            </div>
            <div class="col">
            <div class="rcorners1">
            <div class="text-center">STUDIO NR 4</div>
            <div class="text-center text-decoration-underline">Kreator Misji Życia</div>
            <div>
&nbsp; &nbsp; &nbsp; &nbsp; Tworząc świadomie swój świat już wiesz,
że jutro jest kreowane przez dziś, a Ty sam
piszesz swoją historię, a im wyższy poziom
wiedzy, tym ciekawsza ona jest. <b>ŚWIAT</b>
Tobie opowie o indywidualnych, a zarazem,
unikalnych predyspozycjach., tylko musisz
patrzeć i słuchać. Poddanie się intuicyjnemu
działaniu stwarza niepowtarzalne cele. Jeden
za drugim będzie się rozbudowywał
i prześcigał, a Ty je poukładasz i będziesz
kolejno zrealizował. Scalenie swoich celów
i <b>TCHNIENIEM</b> w nie prawdziwej miłości,
wykreujesz swoją misję życia.
            </div>
            </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
<div style="display:flex;flex-direction:row;">
    <div class="text-center justify-content-center align-self-center p-1">Wyzwania<br /><button type="button" class="btn btn-outline-dark btn-sm">podejmij</button></div>
    <div>... . .. .... .. ... .. .. ... ... .. . . ... ... .. .. ... ... ... . ... ... . .. .... .. ... .. .. ... ... .. . . ... ... .. .. ... ... ... . ... ... . .. .... .. ... .. .. ... ... .. . . ... ... .. .. ... ... ... . ... ... . .. .... .. ... .. .. ... ... .. . . ... ... .. .. ... ... ... . ... ... . .. .... .. ... .. .. ... ... .. . . ... ... .. .. ... ... ... . ... ... . .. .... .. ... .. .. ... ... .. . . ... ... .. .. ... ... ... . ... </div>
</div>
            </div>
            <div class="col">
            <div class="rcorners1">
            Column 1
            </div>
            </div>
            <div class="col">
            <div class="rcorners1">
            Column 2
            </div>
            </div>
        </div>
        
    </div>
    <div class="col-2">
    
        <div class="row" style="margin:1%;">
    
            <div class="col-12 rcorners1" style="margin:0 1% 1% 1%;">
                Column
            </div>
    
            <div class="col-12 rcorners1" style="margin:1%;">
            
<input style="width:90%;" type="text" placeholder="wyszukiwarka" />
<button type="button" class="btn btn-outline-dark btn-sm">szukaj</button>
            
 <swiper-container slides-per-view="4" direction="vertical" [pagination]="true" pagination-clickable="true" style="--swiper-pagination-color:black;--swiper-pagination-bullet-inactive-color:black;height:200px;">
    <swiper-slide>Slide 1</swiper-slide>
    <swiper-slide>Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
    <swiper-slide>Slide 4</swiper-slide>
    <swiper-slide>Slide 5</swiper-slide>
    <swiper-slide>Slide 6</swiper-slide>
    <swiper-slide>Slide 7</swiper-slide>
    <swiper-slide>Slide 8</swiper-slide>
    <swiper-slide>Slide 9</swiper-slide>
</swiper-container>
            </div>
            
        </div>
    
    </div>
</div>












<div class="row">
            <div class="col-12">
            Salon sprzedaży
            </div>
            <div class="col-12">
                <div class="rcorners1">
                
                        <swiper-container initial-slide="0" slides-per-view="7" [pagination]="{clickable: true}"  style="--swiper-pagination-color:black;--swiper-pagination-bullet-inactive-color:black;">
                        <!--<swiper-container initial-slide="0" slides-per-view="2" [navigation]="true" style="--swiper-navigation-color:black;--swiper-navigation-size:20px;">-->
                            <swiper-slide>
                            <div style="height:50px">Slide 1</div>
                            </swiper-slide>
                            <swiper-slide>
                            <div style="height:50px">Slide 2</div>
                            </swiper-slide>
                            <swiper-slide>
                            <div style="height:50px">Slide 3</div>
                            </swiper-slide>
                            <swiper-slide>
                            <div style="height:50px">Slide 4</div>
                            </swiper-slide>
                            <swiper-slide>
                            <div style="height:50px">Slide 5</div>
                            </swiper-slide>
                            <swiper-slide>
                            <div style="height:50px">Slide 6</div>
                            </swiper-slide>
                            <swiper-slide>
                            <div style="height:50px">Slide 7</div>
                            </swiper-slide>
                            <swiper-slide>
                            <div style="height:50px">Slide 8</div>
                            </swiper-slide>
                        </swiper-container>
                
                </div>
            </div>
</div>
















<div class="row">
            <div class="col-12">
            Recenzje użytkowników
            </div>
            <div class="col">
                <div class="rcorners1">
                
                        <swiper-container initial-slide="0" slides-per-view="4" [pagination]="{clickable: true}"  style="--swiper-pagination-color:black;--swiper-pagination-bullet-inactive-color:black;">
                        <!--<swiper-container initial-slide="0" slides-per-view="2" [navigation]="true" style="--swiper-navigation-color:black;--swiper-navigation-size:20px;">-->
                            <swiper-slide>
                            <div style="height:50px">Slide 1</div>
                            </swiper-slide>
                            <swiper-slide>
                            <div style="height:50px">Slide 2</div>
                            </swiper-slide>
                            <swiper-slide>
                            <div style="height:50px">Slide 3</div>
                            </swiper-slide>
                            <swiper-slide>
                            <div style="height:50px">Slide 4</div>
                            </swiper-slide>
                            <swiper-slide>
                            <div style="height:50px">Slide 5</div>
                            </swiper-slide>
                            <swiper-slide>
                            <div style="height:50px">Slide 6</div>
                            </swiper-slide>
                            <swiper-slide>
                            <div style="height:50px">Slide 7</div>
                            </swiper-slide>
                            <swiper-slide>
                            <div style="height:50px">Slide 8</div>
                            </swiper-slide>
                        </swiper-container>
                
                </div>
            </div>
</div>














<div class="row">
            <div class="col-12">
            Inne działania
            </div>
            <div class="col">
            <div class="rcorners1">Column 1</div>
            </div>
            <div class="col">
            <div class="rcorners1">Column 2</div>
            </div>
            <div class="col">
            <div class="rcorners1">Column 3</div>
            </div>
            <div class="col">
            <div class="rcorners1">Column 4</div>
            </div>
</div>




<div class="row">
            <div class="col-12">
            <div class="rcorners1">Zapisz do newslettera</div>
            </div>
</div>



    <div class="col-12">
    <div class="border-dark border-top border-bottom">
        <div class="row">
            <div class="col">
            Centrum pomocy<br />
            Koszyk<br />
            Formy płatności<br />
            Kontak
            </div>
            <div class="col">
            Mapa strony<br />
            Konto użytkownika<br />
            O autorze/recenzje
            </div>
            <div class="col">
            Regulamin platformy<br />
            Polityka prywatności<br />
            Faq
            </div>
        </div>
    </div>

    <div class="row">
    <div class="col-12">
    
    Prawa autorskie &copy;2023 karelibro.com
    
    </div>
    </div>

</div>











<!--
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
-->

<!--
--swiper-pagination-color": "#FFBA08",
--swiper-pagination-bullet-inactive-color": "#999999",
--swiper-pagination-bullet-inactive-opacity": "1",
--swiper-pagination-bullet-size": "16px",
--swiper-pagination-bullet-horizontal-gap": "6px"
-->





























